<div class="p-3">
  <div class="flex items-center justify-between bg-white px-8 py-5 rounded-xl">
    <div class="flex flex-col">
      <h1 class="text-3xl font-semibold">Tasks</h1>
      <div class="flex gap-1 text-sm">
        <img src="https://cdn-icons-png.flaticon.com/128/8006/8006286.png" alt="" class="w-4 h-4 mt-1">
        <p>/</p>
        <p>Tasks</p>
        <p>/</p>
        <p>Task List</p>
      </div>
    </div>
    <div>
      <button (click)="openModal()" class="bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white font-medium p-3 rounded-xl">Add Task</button>
    </div>
  </div>
  <div class="flex justify-between mt-10 gap-10">
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/747/747095.png"
          alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Total <br> Tasks</p>
        </div>
      </div>
      <div class="flex text-5xl bg-slate-200 text-slate-700 px-2 py-1 rounded-md font-semibold">{{tasks.length}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/12179/12179310.png"
          alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Pending Tasks</p>
        </div>
      </div>
      <div class="text-5xl bg-yellow-200 text-yellow-700 px-2 py-1 rounded-md font-semibold">{{getPendingTasksCount()}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/7820/7820331.png"
          alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Completed Tasks</p>
        </div>
      </div>
      <div class="text-5xl bg-green-200 text-green-700 px-2 py-1 rounded-md font-semibold">{{getCompletedTasksCount()}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img
          src="https://cdn-icons-png.flaticon.com/512/6117/6117066.png"
          alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Overdue Tasks</p>
        </div>
      </div>
      <div class="text-5xl bg-red-200 text-red-700 px-2 py-1 rounded-md font-semibold">{{getOverdueTasksCount()}}</div>
    </div>
  </div>


  <div *ngIf="isModalOpen"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 overflow-y-auto">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mb-10 py-5">
      <div class="flex justify-between items-center mb-5">
        <h2 class="text-2xl font-bold">{{ selectedTaskId ? 'Edit Task' : 'Add Task' }}</h2>
        <button (click)="closeModal()"><img src="https://cdn-icons-png.flaticon.com/128/1828/1828843.png" alt=""
            class="w-4 h-4"></button>
      </div>
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-4">
          <div class="w-full">
            <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
            <input id="title" formControlName="title" type="text" placeholder="Eg. Enhance Dashboard"
              class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
          </div>
          <div class="w-full">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <textarea id="description" formControlName="description" placeholder="Eg. Add charts on dashboard both pie and bar for revenue"
              class="mt-1 block w-full h-20 rounded-md border border-gray-300 shadow-sm text-center"></textarea>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="assigned_to" class="block text-sm font-medium text-gray-700">Assigned To (Names)</label>
              <input id="assigned_to" formControlName="assigned_to" type="text" list="emp_names"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center"
                placeholder="Eg. Harsh Chaudhari,Ankush Yamkar">
                <datalist id="emp_names" class="overflow-y-auto">
                  <option *ngFor="let emp of emp_names" value="{{emp.name}}">{{emp.name}}</option>
                </datalist>
            </div>
            
            <!-- <div class="w-1/2">
              <label for="assigned_to" class="block text-sm font-medium text-gray-700">Assigned To (Names)</label>
              <select multiple name="assigned_to" id="assigned_to" class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Employee</option>
                <option *ngFor="let emp of emp_names" value={{emp.name}}>{{emp.name}}</option>
              </select>
            </div> -->
            <div class="w-1/2">
              <label for="assigned_by" class="block text-sm font-medium text-gray-700">Assigned By</label>
              <input id="assigned_by" formControlName="assigned_by" type="text" placeholder="Eg. Nilesh Rawale"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="priority" class="block text-sm font-medium text-gray-700">Priority</label>
              <select id="priority" formControlName="priority"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="Normal">Normal</option>
                <option value="High">High</option>
                <option value="Low">Low</option>
              </select>
            </div>
            <div class="w-1/2">
              <label for="due_date" class="block text-sm font-medium text-gray-700">Due Date</label>
              <input id="due_date" formControlName="due_date" type="date"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
              <select id="status" formControlName="status"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Status</option>
                <option value="Pending">Pending</option>
                <option value="Completed">Completed</option>
                <option value="In Progress">In Progress</option>
                <option value="On Hold">On Hold</option>
              </select>
            </div>
            <div class="w-1/2">
              <label for="project" class="block text-sm font-medium text-gray-700">Project</label>
              <input id="project" formControlName="project" type="text" placeholder="Eg. Max Stores"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
        </div>
        <div class="mt-4 flex justify-end gap-2">
          <button type="button" (click)="closeModal()" class="px-4 py-2 bg-gray-300 text-black rounded">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white rounded" [disabled]="taskForm.invalid">{{
            selectedTaskId ? 'Update' : 'Submit' }}</button>
        </div>
      </form>
      <div *ngIf="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</div>
    </div>
  </div>

  <div class="mt-6 bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-4xl font-bold mb-4 text-slate-500">All Tasks</h3>
    <div class="flex justify-between items-center my-5">
      <input 
        type="text" 
        placeholder="Search tasks..." 
        (input)="onSearch($event)" 
        class="p-2 border border-gray-300 rounded-md w-1/3">
      <select (change)="onFilterStatus($event)"
        class="p-2 border border-gray-300 rounded-md w-1/3 block shadow-sm text-center">
        <option value="">Select Status</option>
        <option value="Pending">Pending</option>
        <option value="Completed">Completed</option>
        <option value="In Progress">In Progress</option>
        <option value="On Hold">On Hold</option>
      </select>
      <input 
        type="date" 
        (input)="onDateFilter($event)" 
        class="p-2 border border-gray-300 rounded-md">
    </div>
    <div class="overflow-x-auto">
    <table class="w-full border-collapse min-w-[1200px]">
      <thead>
        <tr class="bg-gradient-to-r from-slate-200 to-slate-300 text-gray-700">
          <th class="p-3 text-left font-semibold rounded-tl-lg min-w-40">Title</th>
          <th class="p-3 text-left font-semibold min-w-72">Description</th>
          <th class="p-3 text-left font-semibold min-w-72">Assigned To</th>
          <th class="p-3 text-left font-semibold min-w-40">Assigned By</th>
          <th class="p-3 text-left font-semibold min-w-40">Status</th>
          <th class="p-3 text-left font-semibold min-w-28">Priority</th>
          <th class="p-3 text-left font-semibold min-w-60">Project</th>
          <th class="p-3 text-left font-semibold min-w-32">Due Date</th>
          <th class="p-3 text-left font-semibold min-w-60">Created At</th>
          <th class="p-3 text-left font-semibold min-w-60">Updated At</th>
          <th class="p-3 text-left font-semibold rounded-tr-lg min-w-28">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of filteredTasks" class="border-b border-gray-200 hover:bg-gray-50 transition-colors">
          <td class="p-3">{{ task.title }}</td>
          <td class="p-3">{{ task.description }}</td>
          <td class="p-3">{{ task.assigned_to.join(', ') }}</td>
          <td class="p-3">{{ task.assigned_by }}</td>
          <td class="p-3"> <span class="px-2 py-1 rounded-md font-medium flex w-28 justify-center" 
            [ngClass]="{'bg-yellow-200 text-yellow-700': task.status==='Pending',
            'bg-green-200 text-green-700':task.status==='Completed',
            'bg-blue-200 text-blue-700': task.status==='In Progress',
            'bg-gray-200 text-gray-700': task.status==='On Hold',
            }">{{ task.status }} </span></td>
          <td class="p-3">{{ task.priority }}</td>
          <td class="p-3">{{ task.project || 'N/A' }}</td>
          <td class="p-3">{{ task.due_date | date:'yyyy-MM-dd' }}</td>
          <td class="p-3">{{ task.created_at | date:'yyyy-MM-dd HH:mm' }}</td>
          <td class="p-3">{{ task.updated_at | date:'yyyy-MM-dd HH:mm' }}</td>
          <td class="p-3 space-x-3">
            <button (click)="openModal(task.id)">
              <img src="https://cdn-icons-png.flaticon.com/128/12102/12102064.png" alt="Edit" class="w-4 h-4">
            </button>
            <button (click)="deleteTask(task.id)">
              <img src="https://cdn-icons-png.flaticon.com/128/9790/9790368.png" alt="Delete" class="w-4 h-4">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <div *ngIf="filteredTasks.length === 0" class="text-center p-4 text-gray-500">
      No tasks found.
    </div>
  </div>
</div>