<div class="p-3">
  <div class="flex items-center justify-between bg-white px-8 py-5 rounded-xl">
    <div class="flex flex-col">
      <h1 class="text-3xl font-semibold">Employee Dashboard</h1>
      <div class="flex gap-1 text-sm">
        <img src="https://cdn-icons-png.flaticon.com/128/8006/8006286.png" alt="" class="w-4 h-4 mt-1">
        <p>/</p>
        <p>Dashboard</p>
        <p>/</p>
        <p>Employee Dashboard</p>
      </div>
    </div>
  </div>
  <div class="flex items-start bg-white px-8 py-5 rounded-xl mt-5">
    <div class="flex gap-2 border-r border-gray-400 pr-5 w-[45%]">
      <div>
        <img src="assets/adminicon.png" alt="" class="w-12 h-12">
      </div>
      <div class="flex flex-col">
        <h1 class="text-xl font-semibold">Welcome Back, {{ employeeName }}</h1>
        <p>You have {{ remainingLeavesCount }} leave{{remainingLeavesCount===1?'':'s'}} remaining overall</p>
      </div>
    </div>
    <div class="flex flex-col pl-5 w-full">
      <div class="mb-4">
        <h1 class="text-xl font-semibold">Thought For The Day:</h1>
        <p class="text-gray-600">{{ thoughtForTheDay }}</p>
      </div>
    </div>
  </div>
  <div class="flex gap-5">
    <div class="w-[50%] bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-blue-100 to-purple-600 rounded-xl p-10 mt-5">
        <div>
            <h1 class="text-xl font-semibold text-center">To-Do List</h1>
            <div class="mt-2">
                <input
                type="text"
                [(ngModel)]="newTodo"
                (keyup.enter)="addTodo()"
                placeholder="Add a new task..."
                class="w-full p-2 border rounded mb-2"
                />
                <ul class="list-disc pl-5 bg-gray-50 rounded-lg overflow-y-auto">
                <li *ngFor="let todo of todoList; let i = index" class="px-3 py-3 flex justify-between items-center">
                    <span>{{i+1}}. {{ todo }}</span>
                    <button (click)="deleteTodo(i)" class="ml-2 text-red-500 bg-red-200 px-2 rounded-md font-semibold">Delete</button>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-[50%] bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-blue-100 to-purple-600 rounded-xl p-10 mt-5">
      <h1 class="text-xl font-semibold text-center">Overiew</h1>
      <div class="mt-4 relative h-[400px]">
        <canvas id="overviewChart"></canvas>
      </div>
    </div>
  </div>
</div>