<div class="p-3">
  <div class="flex items-center justify-between bg-white px-8 py-5 rounded-xl">
    <div class="flex flex-col">
      <h1 class="text-3xl font-semibold">Leave Management</h1>
      <div class="flex gap-1 text-sm">
        <img src="https://cdn-icons-png.flaticon.com/128/8006/8006286.png" alt="" class="w-4 h-4 mt-1">
        <p>/</p>
        <p>Leave</p>
        <p>/</p>
        <p>Leave List</p>
      </div>
    </div>
    <div>
      <button (click)="openModal()" class="bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white font-medium p-3 rounded-xl">Add Leave</button>
    </div>
  </div>
  
  <div class="flex justify-between mt-10 gap-10">
    <!-- <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/128/10722/10722554.png" alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Pending Leaves</p>
        </div>
      </div>
      <div class="flex text-5xl bg-slate-200 text-slate-700 px-2 py-1 rounded-md font-semibold">{{pendingLeavesCount}}</div>
    </div> -->
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/128/10722/10722554.png" alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Medical Leaves Remaining</p>
        </div>
      </div>
      <div class="flex text-5xl bg-green-200 text-green-700 px-2 py-1 rounded-md font-semibold">{{medicalLeavesRemaining}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/128/10722/10722554.png" alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Casual Leaves Remaining</p>
        </div>
      </div>
      <div class="flex text-5xl bg-red-200 text-red-700 px-2 py-1 rounded-md font-semibold">{{casualLeavesRemaining}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/128/10722/10722554.png" alt="" class="w-12 h-12">
        <div>
          <p class="font-bold text-2xl text-slate-400">Annual Leaves Remaining</p>
        </div>
      </div>
      <div class="flex text-5xl bg-blue-200 text-blue-700 px-2 py-1 rounded-md font-semibold">{{annualLeavesRemaining}}</div>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 overflow-y-auto">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mt-36 mb-10 py-5">
      <div class="flex justify-between items-center mb-5">
        <h2 class="text-2xl font-bold">{{ selectedLeaveId ? 'Update Leave Request' : 'Add Leave Request' }}</h2>
        <button (click)="closeModal()"><img src="https://cdn-icons-png.flaticon.com/128/1828/1828843.png" alt="" class="w-4 h-4"></button>
      </div>
      <form *ngIf="!selectedLeaveId" [formGroup]="leaveForm" (ngSubmit)="onSubmitLeave()" class="flex flex-col gap-4">
        <div class="flex gap-4">
          <div class="w-1/2">
            <label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
            <input id="start_date" formControlName="start_date" type="date" class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            <div *ngIf="leaveForm.get('start_date')?.invalid && leaveForm.get('start_date')?.touched" class="text-red-500 text-sm">
              Start date is required
            </div>
          </div>
          <div class="w-1/2">
            <label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
            <input id="end_date" formControlName="end_date" type="date" class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            <div *ngIf="leaveForm.get('end_date')?.invalid && leaveForm.get('end_date')?.touched" class="text-red-500 text-sm">
              End date is required
            </div>
          </div>
        </div>
        <div class="gap-4">
          <div class="w-full">
            <label for="leave_type" class="block text-sm font-medium text-gray-700">Leave Type</label>
            <select id="leave_type" formControlName="leave_type"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Leave Type</option>
                <option value="Medical">Medical</option>
                <option value="Casual">Casual</option>
                <option value="Annual">Annual</option>
              </select>
            <div *ngIf="leaveForm.get('leave_type')?.invalid && leaveForm.get('leave_type')?.touched" class="text-red-500 text-sm">
              Leave type is required
            </div>
          </div>
          <div class="w-full">
            <label for="reason" class="block text-sm font-medium text-gray-700">Reason</label>
            <textarea id="reason" formControlName="reason" class="mt-1 block w-full h-24 rounded-md border border-gray-300 shadow-sm text-center"></textarea>
            <div *ngIf="leaveForm.get('reason')?.invalid && leaveForm.get('reason')?.touched" class="text-red-500 text-sm">
              Reason is required
            </div>
          </div>
        </div>
        <div class="mt-4 flex justify-end gap-2">
          <button type="button" (click)="closeModal()" class="px-4 py-2 bg-gray-300 text-black rounded">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white rounded" [disabled]="leaveForm.invalid">Submit</button>
        </div>
      </form>
      <form *ngIf="selectedLeaveId" [formGroup]="updateForm" (ngSubmit)="onSubmitUpdate()" class="flex flex-col gap-4">
        <div class="flex gap-4">
          <div class="w-1/2">
            <label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
            <input id="start_date" formControlName="start_date" type="date" class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            <div *ngIf="updateForm.get('start_date')?.invalid && updateForm.get('start_date')?.touched" class="text-red-500 text-sm">
              Start date is required
            </div>
          </div>
          <div class="w-1/2">
            <label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
            <input id="end_date" formControlName="end_date" type="date" class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            <div *ngIf="updateForm.get('end_date')?.invalid && updateForm.get('end_date')?.touched" class="text-red-500 text-sm">
              End date is required
            </div>
          </div>
        </div>
        <div class="gap-4">
          <div class="w-full">
            <label for="leave_type" class="block text-sm font-medium text-gray-700">Leave Type</label>
            <select id="leave_type" formControlName="leave_type"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Leave Type</option>
                <option value="Medical">Medical</option>
                <option value="Casual">Casual</option>
                <option value="Annual">Annual</option>
              </select>
            <div *ngIf="updateForm.get('leave_type')?.invalid && updateForm.get('leave_type')?.touched" class="text-red-500 text-sm">
              Leave type is required
            </div>
          </div>
          <div class="w-full">
            <label for="reason" class="block text-sm font-medium text-gray-700">Reason</label>
            <textarea id="reason" formControlName="reason" class="mt-1 block w-full h-24 rounded-md border border-gray-300 shadow-sm text-center"></textarea>
            <div *ngIf="updateForm.get('reason')?.invalid && updateForm.get('reason')?.touched" class="text-red-500 text-sm">
              Reason is required
            </div>
          </div>
        </div>
        <div class="mt-4 flex justify-end gap-2">
          <button type="button" (click)="closeModal()" class="px-4 py-2 bg-gray-300 text-black rounded">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white rounded" [disabled]="updateForm.invalid">Update</button>
        </div>
      </form>
      <div *ngIf="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="text-green-500 mt-2">{{ successMessage }}</div>
    </div>
  </div>

  <div class="mt-6 bg-white p-4 rounded-lg shadow-md">
    <div class="flex gap-2">
        <h3 class="text-4xl font-bold mb-4 text-slate-500">All Leave Requests</h3>
    </div>
    <table class="w-full">
      <thead>
        <tr class="bg-slate-200 rounded-xl">
          <th class="text-left items-center p-3 rounded-l-md">Leave Type</th>
          <th class="text-left items-center p-3">Start Date</th>
          <th class="text-left items-center p-3">End Date</th>
          <th class="text-left items-center p-3">No of Days</th>
          <th class="text-left items-center p-3">Status</th>
          <th class="text-left items-center p-3">Approved/Declined By</th>
          <th class="text-left items-center p-3 rounded-r-md">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaves" class="py-2 hover:bg-gray-50 transition duration-200 border-b">
          <td class="py-2 pl-4 flex items-center gap-2">
            {{ leave.leave_type }}
            <span class="cursor-pointer" [title]="leave.reason">
              <img src="https://cdn-icons-png.flaticon.com/128/11420/11420166.png" alt="" class="w-7 h-7 mt-1">
            </span>
          </td>
          <td class="py-2 pl-4">{{ leave.start_date | date:'yyyy-MM-dd' }}</td>
          <td class="py-2 pl-4">{{ leave.end_date | date:'yyyy-MM-dd' }}</td>
          <td class="py-2 pl-4">{{ leave.days }}</td>
          <td class="py-2 pl-4"><span class="px-2 py-1 rounded-md font-medium flex w-24 justify-center" [ngClass]="{
            'bg-slate-100 text-slate-700': leave.status == 'pending',
            'bg-green-100 text-green-700': leave.status == 'approved',
            'bg-red-100 text-red-700': leave.status == 'rejected'
          }">{{ leave.status | titlecase }}</span></td>
          <td class="py-2 pl-4">{{ leave.approved_by || 'N/A'}}</td>
          <td class="py-2 pl-4">
            <button 
              (click)="openModal(leave._id)" 
              [disabled]="leave.status === 'approved' || leave.status === 'rejected'"
              [ngClass]="{'opacity-50 cursor-not-allowed': leave.status === 'approved' || leave.status === 'rejected'}">
              <img src="https://cdn-icons-png.flaticon.com/128/12102/12102064.png" alt="Edit" class="w-4 h-4">
            </button>
            <button 
              (click)="deleteLeave(leave._id)" 
              [disabled]="leave.status === 'approved' || leave.status === 'rejected'"
              [ngClass]="{'opacity-50 cursor-not-allowed': leave.status === 'approved' || leave.status === 'rejected'}">
              <img src="https://cdn-icons-png.flaticon.com/128/9790/9790368.png" alt="Delete" class="w-4 h-4 ml-5">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>