<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <div class="w-64 bg-white text-black p-4">
    <div class="pb-4 pl-6 border-b border-slate-200/50">
      <div class="flex items-center space-x-3">
        <img src="assets/logo.png" alt="" class="w-12 h-12">
        <div class="block">
          <h1 class="text-xl font-bold text-slate-900">HRMS</h1>
          <p class="text-xs text-slate-500">Admin Panel</p>
        </div>
      </div>
    </div>
    <ul class="space-y-2 text-slate-600 font-semibold mt-5">
      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl hover:bg-gray-100 flex items-center space-x-2">
          <img src="assets/dashlogo.png" alt="Dashboard" class="w-4 h-4 mx-3">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/employees" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl hover:bg-gray-100 flex items-center space-x-2">
          <img src="assets/emplogo.png" alt="Employee" class="w-4 h-4 mx-3">
          Employees
        </a>
      </li>
      <li>
        <a routerLink="/admin/task" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl hover:bg-gray-100 flex items-center space-x-2">
          <img src="assets/tasklogo.png" alt="Task" class="w-4 h-4 mx-3">
          Task
        </a>
      </li>
      <li>
        <a routerLink="/admin/leave" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl hover:bg-gray-100 flex items-center space-x-2">
          <img src="assets/leavelogo.png" alt="Leave" class="w-4 h-4 mx-3">
          Leave
        </a>
      </li>
      <li>
        <a routerLink="/admin/attendance" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl hover:bg-gray-100 flex items-center space-x-2">
          <img src="assets/attendanceicon.png" alt="Dashboard" class="w-4 h-4 mx-3">
          Attendance
        </a>
      </li>
      <li>
        <a routerLink="/admin/registeredusersadmins" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl hover:bg-gray-100 flex items-center space-x-2">
          <img src="assets/regusers.png" alt="Dashboard" class="w-4 h-4 mx-3">
          Registered Users
        </a>
      </li>
      <!-- <li>
        <a routerLink="/admin/payroll" routerLinkActive="bg-gradient-to-r from-blue-500 to-purple-600 text-white" class="p-2 rounded-3xl block hover:bg-gray-100 flex items-center space-x-2">
          <img src="" alt="Payroll" class="w-5 h-5">
          Payroll
        </a>
      </li> -->
    </ul>
    <div class="mt-64 pt-4">
      <button (click)="logout()" class="w-full bg-red-600 text-white p-2 rounded hover:bg-red-700">
        Logout
      </button>
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="flex-1 overflow-y-auto">
    <!-- Top Header -->
    <!-- <div class="bg-white shadow p-4 flex justify-between items-center mb-6 rounded">
      <h1 class="text-2xl font-bold">Admin Dashboard</h1>
      
    </div> -->
    <router-outlet></router-outlet>
  </div>
</div>