<div class="p-3">
  <div class="flex items-center justify-between bg-white px-8 py-5 rounded-xl">
    <div class="flex flex-col">
      <h1 class="text-3xl font-semibold">Employee</h1>
      <div class="flex gap-1 text-sm">
        <img src="https://cdn-icons-png.flaticon.com/128/8006/8006286.png" alt="" class="w-4 h-4 mt-1">
        <i class="fas fa-users"></i>
        <p>/</p>
        <p>Employee</p>
        <p>/</p>
        <p>Employee List</p>
      </div>
    </div>
    <div>
      <button (click)="openModal()" class="bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white font-medium p-3 rounded-xl">Add Employee</button>
    </div>
  </div>
  <div class="flex justify-between mt-10 gap-5">
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="assets/ttlempicon.png" alt="" class="w-12 h-12 rounded-full">
        <div>
          <p class="font-bold text-2xl text-slate-400">Total Employee</p>
        </div>
      </div>
      <div class="flex text-5xl bg-slate-200 text-slate-700 px-2 py-1 rounded-md font-semibold">{{employees.length}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.freepik.com/512/6833/6833588.png" alt="" class="w-12 h-12 rounded-full">
        <div>
          <p class="font-bold text-2xl text-slate-400">Active Employee</p>
        </div>
      </div>
      <div class="flex text-5xl bg-green-200 text-green-700 px-2 py-1 rounded-md font-semibold">{{getActiveCount}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/1870/1870038.png" alt="" class="w-12 h-12 rounded-full">
        <div>
          <p class="font-bold text-2xl text-slate-400">InActive Employee</p>
        </div>
      </div>
      <div class="flex text-5xl bg-red-200 text-red-700 px-2 py-1 rounded-md font-semibold">{{getInactiveCount}}</div>
    </div>
    <div class="flex card bg-white items-center p-5 gap-1 rounded-lg w-full justify-between">
      <div class="flex gap-1 items-center">
        <img src="https://cdn-icons-png.flaticon.com/512/3090/3090108.png" alt="" class="w-12 h-12 rounded-full">
        <div>
          <p class="font-bold text-2xl text-slate-400">New Employee</p>
        </div>
      </div>
      <div class="flex text-5xl bg-blue-200 text-blue-700 px-2 py-1 rounded-md font-semibold">{{getNewJoinersCount}}</div>
    </div>
  </div>

  <div *ngIf="isModalOpen"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 overflow-y-auto">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mt-72 mb-10 py-5">
      <div class="flex justify-between items-center mb-5">
        <h2 class="text-2xl font-bold">{{ selectedEmployeeId ? 'Edit Employee' : 'Add Employee' }}</h2>
        <button (click)="closeModal()"><img src="https://cdn-icons-png.flaticon.com/128/1828/1828843.png" alt=""
            class="w-4 h-4"></button>
      </div>
      <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-4">
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="emp_code" class="block text-sm font-medium text-gray-700">Employee Code</label>
              <input id="emp_code" formControlName="emp_code" type="text" placeholder="eg. e123"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
            <div class="w-1/2">
              <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
              <input id="name" formControlName="name" type="text" placeholder="eg. Aayush"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              <input id="email" formControlName="email" type="email" placeholder="eg. aayush@gmail.com"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
            <div class="w-1/2">
              <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
              <input id="phone" formControlName="phone" type="text" placeholder="eg. 8291416582"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="profile_image" class="block text-sm font-medium text-gray-700">Profile Image URL</label>
              <input id="profile_image" formControlName="profile_image" type="text"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
            <div class="w-1/2">
              <label for="gender" class="block text-sm font-medium text-gray-700">Gender</label>
              <select id="gender" formControlName="gender"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="dob" class="block text-sm font-medium text-gray-700">Date of Birth</label>
              <input id="dob" formControlName="dob" type="date"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
            <div class="w-1/2">
              <label for="date_of_joining" class="block text-sm font-medium text-gray-700">Date of Joining</label>
              <input id="date_of_joining" formControlName="date_of_joining" type="date"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="department" class="block text-sm font-medium text-gray-700">Department</label>
              <select id="department" formControlName="department"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Department</option>
                <option value="Frontend Dev">Frontend Dev</option>
                <option value="Full Stack Dev">Full Stack Dev</option>
                <option value="Data Engineer">Data Engineer</option>
                <option value="Data Analyst">Data Analyst</option>
                <option value="Devops">Devops</option>
              </select>
            </div>
            <div class="w-1/2">
              <label for="designation" class="block text-sm font-medium text-gray-700">Designation</label>
              <select id="designation" formControlName="designation"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Designation</option>
                <option value="Associate">Associate</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
              </select>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="location" class="block text-sm font-medium text-gray-700">Location</label>
              <input id="location" formControlName="location" type="text"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
            <div class="w-1/2">
              <label for="status" class="block text-sm font-medium text-gray-700">Status</label>
              <select id="status" formControlName="status"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
                <option value="">Select Status</option>
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
                <option value="Retired">Retired</option>
              </select>
            </div>
          </div>
          <div class="flex gap-4">
            <div class="w-1/2">
              <label for="reporting_manager_id" class="block text-sm font-medium text-gray-700">Reporting Manager ID</label>
              <input id="reporting_manager_id" formControlName="reporting_manager_id" type="text" placeholder="eg. m123"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
            <div class="w-1/2">
              <label for="reporting_manager" class="block text-sm font-medium text-gray-700">Reporting Manager Name</label>
              <input id="reporting_manager" formControlName="reporting_manager" type="text" placeholder="eg. Rahul Rijhwani"
                class="mt-1 block w-full h-12 rounded-md border border-gray-300 shadow-sm text-center">
            </div>
          </div>
          <div class="w-full">
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <textarea id="address" formControlName="address"
              class="mt-1 block w-full h-24 rounded-md border border-gray-300 shadow-sm text-center"></textarea>
            <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2 text-center">{{ errorMessage }}</div>
          </div>
        </div>
        <div class="mt-4 flex justify-end gap-2">
          <button type="button" (click)="closeModal()" class="px-4 py-2 bg-gray-300 text-black rounded">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-gradient-to-b from-orange-300 via-orange-500 to-orange-600 text-white rounded" [disabled]="employeeForm.invalid">
            {{ selectedEmployeeId ? 'Update' : 'Submit' }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="mt-6 bg-white p-4 rounded-lg shadow-md">
    <h3 class="text-4xl font-bold mb-4 text-slate-500">All Employees</h3>
    <div class="flex mb-4 gap-4">
      <input
        type="text"
        placeholder="Search by Name..."
        class="w-full h-10 rounded-md border border-gray-300 shadow-sm px-3"
        (input)="onSearch($event)"
      />
      <select
        class="h-10 rounded-md border border-gray-300 shadow-sm px-3"
        (change)="onFilterStatus($event)"
      >
        <option value="">All</option>
        <option value="Active">Active</option>
        <option value="InActive">InActive</option>
      </select>
      <select
        class="h-10 rounded-md border border-gray-300 shadow-sm px-3"
        (change)="onFilterDepartment($event)"
      >
        <option value="">All Departments</option>
        <option value="FSD">FSD</option>
        <option value="DE">DE</option>
        <option value="Devops">Devops</option>
      </select>
    </div>
    <table class="w-full">
      <thead>
        <tr class="bg-slate-200 rounded-xl">
          <th class="text-left items-center p-3 rounded-l-md">Emp_Code</th>
          <th class="text-left items-center p-3">Profile</th>
          <th class="text-left items-center p-3">Name</th>
          <th class="text-left items-center p-3">Email</th>
          <th class="text-left items-center p-3">Phone</th>
          <th class="text-left items-center p-3">Department</th>
          <th class="text-left items-center p-3">Designation</th>
          <th class="text-left items-center p-3">Join Date</th>
          <th class="text-left items-center p-3">Status</th>
          <th class="text-left items-center p-3 rounded-r-md">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmployees" class="py-2">
          <td class="py-2 pl-5">{{ employee.emp_code }}</td>
          <td class="py-2 pl-5"><img src={{employee.profile_image}} alt="no picture" class="w-6 h-6 rounded-full ring-1 ring-green-400"></td>
          <td class="py-2 pl-3">{{ employee.name }}</td>
          <td class="py-2 pl-1">{{ employee.email }}</td>
          <td class="py-2 pl-1">{{ employee.phone }}</td>
          <td class="py-2 pl-2">{{ employee.department }}</td>
          <td class="py-2 pl-3">{{ employee.designation }}</td>
          <td class="py-2 pl-2">{{ employee.date_of_joining }}</td>
          <td class="py-2 pl-3">{{ employee.status }}</td>
          <td class="py-2 pl-5">
            <button (click)="openModal(employee.emp_code)" class="mr-2">
              <img src="https://cdn-icons-png.flaticon.com/128/12102/12102064.png" alt="Edit" class="w-4 h-4">
            </button>
            <button (click)="deleteEmployee(employee.emp_code)">
              <img src="https://cdn-icons-png.flaticon.com/128/9790/9790368.png" alt="Delete" class="w-4 h-4">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>